API_TOKEN="aS5zb3d1bm1pOTdAZ21haWwuY29tOjY3MjA2NmM5ZDEwYThlNGIxNDdmNjdjODQwMTE0NTIwNjdkZDg4YTQ1MGZkMTc4ZjgyY2IwMmZmZmRiZjI5sad="
TEST_EMAIL="example@example.com"
BASE_URL="https://example.gorgias.com"
GMAIL_EMAIL="example@gmail.com"
GMAIL_EMAIL_PASS="16characterpassword"